@{
    ViewBag.Title = "Dashboard";
}

<script>
    var navItem = document.getElementById('nav-item-dashboard');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('dashboard-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-routine');
    navLinkChild.classList.remove('collapsed');
</script>
<!-- Date Picker -->
<link href="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/Content/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="~/Content/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- dropzonejs -->
<link rel="stylesheet" href="~/Content/plugins/dropzone/min/dropzone.min.css">
<!-- DataTables -->
<link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datatables-select/css/select.bootstrap4.min.css" rel="stylesheet" />
<!-- SweetAlert2 -->
<link href="~/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
<!-- Toastr -->
<link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
<!-- Theme style -->
<link href="~/Content/plugins/admin-lte/css/adminlte.css" rel="stylesheet" />



<!-- Routine custom css style -->
<!--<link href="~/Assets/vendor/bootstrap/routine/css/buttons.dataTables.min.css" rel="stylesheet" />-->
<!-- Custom Card style -->
<!--<link href="~/Assets/css/routine-style.css" rel="stylesheet" type="text/css"/>-->

<style>
    .pagination-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .card-dashboard {
        margin-bottom: 10px;
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        /*border-radius: 5px;*/
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: white;
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
        --bs-card-bg: var(--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        color: var(--bs-body-color);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border-radius: var(--bs-card-border-radius);
    }

    .card-dashboard1 {
        margin-bottom: 10px;
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: 5px;
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
        /*cursor: pointer;*/
        transition: background-color 0.3s ease;
        background-color: white;
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
        --bs-card-bg: var(--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        color: var(--bs-body-color);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border-radius: var(--bs-card-border-radius);
    }

    .card-dashboard:hover {
        background: linear-gradient(to bottom, #c6faff, #f0fdff);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .card-dashboard1:hover {
        background: linear-gradient(to bottom, #ffd700, #ffffff 70%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .card-dashboard-body {
        padding: 20px 20px 20px 20px;
    }
</style>

<main id="main" class="main" style="background-image: url('../../content/image/BG.png'); background-size: cover; background-position: center">

    <div class="form-group col-md-12" style="padding-left: 16px; padding-right: 16px">
        <div class="row" style="margin-top:8px">
            <div class="col-6">
            </div>
            <div class="col-5" style="margin-right:-10px">
                <div class="row">
                    <div class="col-6">
                        <section class="card" style="padding: 4px">
                            @Html.Label("province_id", "Provincuuue")
                            @Html.DropDownList("province_id", ViewData["Province"] as SelectList, "- All -", new { @class = "form-control select2" })
                        </section>
                    </div>
                    <div class="col-6">
                        <section class="card" style="padding: 4px">
                            @Html.Label("cm_id", "City/Municipality")
                            @Html.DropDownList("cm_id", Enumerable.Empty<SelectListItem>(), "- Select City / Municipality -", new { @class = "form-control select2" })
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="col-12">
                    <section class="card" style="height: 80px; width: 80px; cursor: pointer;" id="filter-button" title="Apply Filter">
                        <center>
                            <img style="height:80px" src="~/Content/image/search data fin.png" />
                        </center>
                    </section>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="card-dashboard1" style="min-height: 160px;">
                    <div class="card-dashboard-body" style="max-height: 160px;">
                        <div class="row align-items-center">
                            <div>
                                <div class="row">
                                    <h5 class="text-muted fw-normal mt-0" style="font-size: 16px; min-height: 38.4px;" title="TOTAL ADMINISTERED DOSE">TOTAL ADMINISTERED <br />DOSE</h5>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h3 id="dashboardroutinetotal" class="my-2 py-1">loading</h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 100%</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <center style="color:black">
                                            <img style="height:80px;width:44.5px" src="~/Content/image/vac-no-bg.png" />
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="card-dashboard1" style="min-height: 160px;">
                    <div class="card-dashboard-body" style="max-height: 160px;">
                        <div class="row align-items-center">
                            <div>
                                <div class="row">
                                    <h5 class="text-muted fw-normal mt-0" style="font-size: 16px; min-height: 38.4px;" title="COMPLETELY IMMUNIZED CHILD (CIC)">COMPLETELY IMMUNIZED <br />CHILD (CIC)</h5>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h3 @*id="dashboardroutinetotal"*@ class="my-2 py-1">0</h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 100%</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <center style="color:black">
                                            <img style="height:80px;width:80px" src="~/Content/image/CIC.png" />
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="card-dashboard1" style="min-height: 160px;">
                    <div class="card-dashboard-body" style="max-height: 160px;">
                        <div class="row align-items-center">
                            <div>
                                <div class="row">
                                    <h5 class="text-muted fw-normal mt-0" style="font-size: 16px; min-height: 38.4px;" title="FULLY IMMUNIZED CHILD(FIC)">FULLY IMMUNIZED <br />CHILD (FIC)</h5>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h3 @*id="dashboardroutinetotal"*@ class="my-2 py-1">0</h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 100%</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <center style="color:black">
                                            <img style="height:80px;width:80px" src="~/Content/image/FIC.png" />
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="card-dashboard" style="min-height: 160px;">
                    <div class="card-dashboard-body" style="max-height: 160px;">
                        <div class="row align-items-center">
                            <div>
                                <div class="row">
                                    <h5 class="text-muted fw-normal mt-0" style="font-size: 16px; min-height: 38.4px;" title="FOR VACCINATION">FOR VACCINATION</h5>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h3 id="dashboardroutine2total" class="my-2 py-1">loading</h3>
                                        <p class="mb-0 text-muted">
                                            <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 100%</span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <center style="color:black">
                                            <img style="height:80px;width:80px" src="~/Content/image/vac.png" />
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>





    <section class="content">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <section class="card" style="padding: 8px">
                            <div class="container-fluid">
                                <table id="tbl-routine" class="table table-bordered table-striped" style="border: 1px solid #D3D3D3; border-collapse: collapse; overflow: auto; max-width: 800px; max-height: 10px;">
                                    <thead>
                                        <tr>
                                            <th colspan="7" style="text-align: center; font-size: 24px; color: #000; border: 1px solid #ccc; padding: 10px;">
                                                Administered Dose
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 15%; border: 1px solid #ccc; text-align: center; vertical-align: middle; font-size: 18px; color: #fff; background-color: #4a4a4a; ">Geographic Area</th>
                                            <th style="width: 15%; border: 1px solid #ccc; text-align: center; vertical-align: middle; font-size: 18px; color: #fff; background-color: #4a4a4a; ">TOTAL</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="card" style="padding: 8px">
                            
                            <h5 class="card-title" >Column Chart</h5>
                            <div id="columnChart"></div>
                            
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div class="col-12">
        <div class="pagination d-flex justify-content-end">
            @*<button style="margin-right: 8px;" class="pagination-button" id="prevButton">< Previous</button>*@
            <span>Page 1 of 4</span>
            <button style="margin-left: 8px;" class="pagination-button" id="nextButton">Next ></button>

        </div>
    </div>

    <div class="modal fade" id="modal-search-person" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- modal header & close button here -->
                <!-- form start -->
                @*<form id="form-individual">*@
                <div class="modal-body">
                    <div class="card" style="padding-left:16px">
                        <h5 class="card-title" id="individual-modal-header">Vaccination Schedule List</h5>
                    </div>
                    <div class="card" style="padding:4px">
                        <div class="col-12" style="padding:8px">
                            <div class="row clearfix" style="width: 100%;">
                                <table id="tbl-vpd-vaccinations-records" class="table table-bordered table-striped">
                                    <thead style="text-align: left;">
                                        <tr>
                                            <th>NO</th>
                                            <th>FIRST NAME</th>
                                            <th>LAST NAME</th>
                                            <th>VACCINE DOSE</th>
                                            <th>SCHEDULE</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:-16px">
                        <div class="modal-footer text-end">
                            <button type="button" id="search-vpd-vaccination-record-cancel-button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
                @*</form>*@
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>

</main>

@section scripts
{
    <script>
        const prevButton = document.getElementById('prevButton');
        const nextButton = document.getElementById('nextButton');
        const pageNumberSpan = document.querySelector('.pagination span');

        let currentPage = 1;
        const totalPages = 4;

        function updatePageNumber() {
            pageNumberSpan.textContent = `Page ${currentPage} of ${totalPages}`;
        }

        updatePageNumber();

        //prevButton.addEventListener('click', () => {
        //    if (currentPage > 1) {
        //        currentPage--;
        //        updatePageNumber();
        //        navigateToPreviousPage(currentPage)
        //    }
        //});

        nextButton.addEventListener('click', () => {
            if (currentPage < totalPages) {
                currentPage++;
                updatePageNumber();
                navigateToNextPage(currentPage); // Navigate to the next page
            }
        });

        function navigateToNextPage(page) {
            window.location.href = `Routine_1`.replace('.chtml', ''); // Replace with your page URL structure
        }
        //function navigateToPreviousPage(page) {
        //    window.location.href = `DashboardMRSIA`.replace('.chtml', ''); // Replace with your page URL structure
        //}
    </script>

    @*<script>
            $(document).ready(function () {
                $('#tbl-vpd-vaccinations-records').DataTable({
                    "dom": 'Bfrtip', // Include Buttons in the DOM
                    "buttons": [
                        'excel', 'pdf' // Add Excel and PDF buttons
                    ],
                    // ... existing configuration ...
                });
            });
        </script>*@


    <!-- -------------------------------------------------------------------------------------- -->
    <!-- JavaScript Imports -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/Content/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <!-- Toastr -->
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <!-- Moment -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- DataTables & Plugins -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-select/js/dataTables.select.min.js"></script>
    <script src="~/Content/plugins/datatables-select/js/jquery.dataTables.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- BS-Stepper-->
    <script src="~/Content/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Page -->
    <script src="~/Scripts/Custom/common.js"></script>
    <script src="~/Scripts/Custom/dashboardRoutine.js"></script>
    <!-- /.JavaScript Imports -->
    @*New Javascript Imports*@
    <script src="~/Assets/vendor/apexcharts/apexcharts.min.js"></script>
    @*<script src="~/Assets/vendor/bootstrap/routine/js/buttons.html5.min.js"></script>
        <script src="~/Assets/vendor/bootstrap/routine/js/dataTables.buttons.min.js"></script>
        <script src="~/Assets/vendor/bootstrap/routine/js/jszip.min.js"></script>
        <script src="~/Assets/vendor/bootstrap/routine/js/jquery.dataTables.js"></script>*@
    <!-- -------------------------------------------------------------------------------------- -->
}