@model R12VIS.Models.EthnicGroup

@{
    ViewBag.Title = "Details";
}

<script>
    var navItem = document.getElementById('nav-item-file-maintenance');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('file-maintenance-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-file-maintenance-ethnic-group');
    navLinkChild.classList.remove('collapsed');
</script>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Ethnic Group</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Ethnic Group</li>
                <li class="breadcrumb-item"> active>Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ethnic Group Details</h5>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                   Ethnic Group
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IndigenousMember)
                                </dd>

                            </dl>
                        </div>
                        <div class="row">
                            <div class="col text-end pt-3">
                                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-outline-primary">Edit</a>
                                <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
