
@{
    ViewBag.Title = "ImportMuniCityCodes";
}

<script>
    var navItem = document.getElementById('nav-item-file-maintenance');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('file-maintenance-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-file-maintenance-citymun');
    navLinkChild.classList.remove('collapsed');
</script>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Upload Excel</h5>

        <form action="/CityMunicipalities/ImportMuniCityCodes" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload File</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>


