
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> *@
    <link href="~/Content/login-style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>DOH 12 - VIS</title>

</head>
<body>

    <section class="ftco-section">
        <div class="container">
            @*<div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">DOH12-VIS</h2>
                    </div>
                </div>*@
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style=" background-image: url('../../assets/5032303.jpg');">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">DOH 12 - VIS</h3>
                                </div>
                                <div class="w-100">
                                    @*<p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>*@
                                </div>
                            </div>
                            <form id="loginForm" method="post">
                                <div class="form-group mb-3">
                                    <label class="label" for="Username">Email</label>
                                    <input type="email" class="form-control" placeholder="Username" name="Email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" name="Password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Remember Me
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password</a>
                                    </div>
                                </div>
                            </form>
                            @*<p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="d-flex">
                <div class="toast-body">
                    Invalid EMAIL or PASSWORD
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


    @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        const toastLiveExample = document.getElementById('liveToast');
        document.getElementById("loginForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the form from submitting
            var formData = new FormData(event.target);

            // Make an asynchronous POST request to the server
            fetch("@Url.Action("Login", "Users")", {
                method: "POST",
                body: formData
            })
            .then(response => response.json()) // Parse the response as JSON
            .then(data => {
                if (data.success) {
                    const user = data.user;
                    console.log(user);
                    //window.location.href = "/AdminPanel/Home";
                } else {
                    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                        toastBootstrap.show();
                }
            })
            //.catch(error => {
            //console.error("Error occurred:", error);
            //});
});

    </script>
</body>
</html>
