@{
    ViewBag.Title = "Index";
}

<script>
    var navItem = document.getElementById('nav-item-linelist');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('linelist-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-linelist-covid');
    navLinkChild.classList.remove('collapsed');
</script>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>COVID Linelist</h1>
        <nav>
            <ol class="breadcrumb">
                @*<li class="breadcrumb-item"><a href="index.html">Home</a></li>*@
                <li class="breadcrumb-item">Vaccination</li>
                <li class="breadcrumb-item active">Linelist</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">COVID Vaccination list</h5>

                <p>
                    <a class="btn btn-primary" href="@Url.Action("PreVaccination", "Vaccinations")"><i class="bi bi-pencil-square"></i>&nbsp;New Vaccination</a>
                </p>
                <table id="tbl-vaccinations" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width:31%">Person Name</th>
                            <th style="width:17%">Vaccine Brand</th>
                            <th style="width:22%">Dose No.</th>
                            <th style="width:20%">Priority Group</th>
                            <th style="width:10%">Ethnic Group</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>

</main><!-- End #main -->

@section scripts
{
    <script src="~/Content/DataTable/cdn.datatables.net_1.13.4_js_jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTable2/datatables.min.js"></script>
    <script src="~/Scripts/Custom/common.js"></script>
    <script>
        $(document).ready(function () {
            populateVaccinationTable();
        });

        function populateVaccinationTable() {
            tblPayrolls = $('#tbl-vaccinations').DataTable({
                "destroy": true,
                "ajax": {
                    "type": "POST",
                    "url": dir + "/Vaccinations/VaccinationsDataTable",
                    "data": {},
                    "datatype": "json"
                },
                "responsive": true,
                "lengthChange": true,
                "autoWidth": false,
                "searching": true, // Enable global searching
                "ordering": false,
                "select": { style: 'single' },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false
                    },
                    {
                        "targets": [1], // Index of the "Person" column
                        "searchable": true, // Enable searching for this column
                    }
                ],
                "columns": [
                    { "name": "ID", "data": "ID" },
                    { "name": "Person", "data": "Person", "width": "31%" },
                    { "name": "Vaccine", "data": "Vaccine", "width": "17%" },
                    { "name": "Dose", "data": "Dose", "width": "22%" },
                    { "name": "Priority", "data": "Priority", "width": "20%" },
                    { "name": "Ethnic", "data": "Ethnic", "width": "10%" }
                ]
            });
        }
    </script>
}