
@{
    ViewBag.Title = "Index";
}

<h2>Excel Uploader</h2>

<div class="container-fluid" style="max-width: 50%" >




    <div class="row shadow p-4 m-1 text-bg-light  rounded-2 m-5">

        <h2>Excel Uploader</h2>

        <div class="row m-1">
            @*FILE SELECTOR*@
            <div class=" col p-3 bg-white text-black shadow">
                <input type="file" id="fuExcel" />
            </div>
        </div>

        <div class="row m-1">
            @*ROW CHECKER*@
            <div class=" col-md-6  p-3 bg-white shadow">
                <button id="btnChecker" class="btn btn-success float-end shadow-sm">Check Rows</button>
            </div>

            @*BUTTON FOR UPLOAD*@
            <div class=" col-md-6  p-3 bg-white shadow">
                <button id="btnUpload" class="btn btn-primary float-end shadow-sm">Upload Record</button>
            </div>
        </div>





        @*MODAL*@

        <!-- Button trigger modal -->
        <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>-->
        <!-- Modal -->
        <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Excel Reading Done</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row shadow p-4 m-1 text-bg-light  rounded-2">

                            @*CARD - TOTAL ROWS TO UPLOAD*@
                            <div class="col-md-3  p-3 bg-light">
                                <div class="card border-0 text-black bg-body-secondary shadow-lg">
                                    <div class="card-header">To Upload</div>
                                    <div class="card-body">
                                        <center>
                                            <h1><span id="totalrowcount">0</span></h1>
                                        </center>
                                    </div>
                                </div>
                            </div>

                            @*CARD - UPLOADED*@
                            <div class="col-md-3  p-3 bg-light">
                                <div class="card border-0 text-white bg-primary shadow-lg">
                                    <div class="card-header">Uploaded</div>
                                    <div class="card-body">
                                        <center>
                                            <h1><span id="count">0</span></h1>
                                        </center>
                                    </div>
                                </div>
                            </div>

                            @*CARD - DUPLICATE*@
                            <div class="col-md-3  p-3 bg-light">
                                <div class="card border-0 text-body-emphasis bg-danger shadow-lg">
                                    <div class="card-header">Duplicates</div>
                                    <div class="card-body">

                                        <center>
                                            <h1><span id="duplicatecounts">0</span></h1>
                                        </center>

                                    </div>
                                </div>
                            </div>

                            @*CARD - TOTAL ROWS PROCESSED*@
                            <div class="col-md-3  p-3 bg-light">
                                <div class="card border-0 text-white bg-success shadow-lg">
                                    <div class="card-header">Errors</div>
                                    <div class="card-body">

                                        <center>
                                            <h1><span id="totalrows..">0</span></h1>
                                        </center>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Understood</button>*@
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>



@section Scripts{

    <script>

        // Spinners
        var spinnerReader = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Reading...Please Wait...';


        //FOR CHECKING BUTTON
        $(document).ready(function ()
        {

            $("#btnChecker").click(function ()
            {

                // Show the spinner
                $("#btnChecker").html(spinnerReader);


                var formData = new FormData();
                var fuUploadFile = $("#fuExcel")[0];
                var myfile = fuUploadFile.files[0];
                formData.append("myExcelData", myfile);

                $.ajax
                    ({
                        url: "/Home/CountRows",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,


                        success: function (data) {

                            //FOR MULTIPLE VALUE RESULT

                            // Access the received data in JavaScript
                            var totalrows = data.TotalRws;
                            var readmessage = "Read Successfully!";
                            // Display the data in the view
                            $("#totalrowcount").text(totalrows);


                            // FOR SINGLE RESULT MESSAGE BOX
                            //alert(data);

                            // Clear the file input field
                            //$("#fuExcel").val("");




                            // Hide the spinner
                            $("#btnChecker").text("Check Rows");

                            //// Update the modal content with the response
                            //$('#staticBackdrop .modal-body').html(readmessage);

                            // Show the modal
                            $('#staticBackdrop').modal('show');
                        },
                        error: function (error) {
                            //alert(data);
                        }
                    });
            });
        });

        // Spinners
        var spinnerUploader = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Uploading...Please Wait...';

        // FOR UPLOAD BUTTON
        $(document).ready(function ()
        {
            $("#btnUpload").click(function ()
            {
                // Show the spinner
                $("#btnUpload").html(spinnerUploader);

                var formData = new FormData();
                var fuUploadFile = $("#fuExcel")[0];
                var myfile = fuUploadFile.files[0];

                formData.append("myExcelData", myfile);

                $.ajax
                ({
                    url: "/Home/Upload",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data)
                    {
                        //FOR MULTIPLE VALUE RESULT

                        // Access the received data in JavaScript
                        //var successmessage = data.SuccessMessage;
                        var uploadcount = data.UploadCount;
                        var duplicatecount = data.DuplicateCnt;
                        var totalrows = data.TotalRws;

                        var uploadmessage = "Upload Successfully!";

                        // Display the data in the view
                        //$("#mssg").text(successmessage);
                        $("#count").text(uploadcount);
                        $("#duplicatecounts").text(duplicatecount);
                        $("#totalrows").text(totalrows);

                        // FOR SINGLE RESULT MESSAGE BOX
                        //alert(data);

                        // Clear the file input field
                        $("#fuExcel").val("");


                        // Hide Spinner
                        $("#btnUpload").text("Upload Record");

                        //// Update the modal content with the response
                        //$('#staticBackdrop .modal-body').html(uploadmessage);

                        // Show the modal
                        $('#staticBackdrop').modal('show');
                    },
                    error: function (error)
                    {
                        //alert(data);
                    }
                });
            });
        });

    </script>

}