
@{
    ViewBag.Title = "Instructions";
}

<h2>Instructions</h2>


<main id="main" class="main">
    <section>
        <div class="row p-4">
            <div class="card shadow-sm">
                <div class="card-body">

                    @*INSTRUCTION HEADER*@
                    <div class="row  mt-4 shadow-sm p-3" style="background-color: antiquewhite;">

                        <h2>
                            <strong>
                                Instructions:
                            </strong>
                        </h2>

                        <small>
                            1. Make sure that Excel File contains a <strong>minimum of 1, and maximum of 10,000 rows</strong> only.
                        </small>

                        <small>
                            2. To input or paste <strong>your Vaccine Administration System (VAS) Data</strong>, please go to <strong>VAS Template</strong>  tab.
                        </small>

                        <small>
                            3. Hover on the <strong>header columns</strong>  to see recommended answers or choices.
                        </small>

                        <small>
                            4. Go to <strong>CHOICES, REGION_PROVINCE_CODE, CITY_CODE</strong>  TAB for answer reference.
                        </small>

                        <small>
                            5. Go to <strong>Deferral Codes</strong> tab and <strong>Adverse Events</strong>  tab to check for Reasons for Codes and Descriptions
                        </small>

                        <small>
                            6. Check the <strong>SAMPLE</strong> tab to review sample input.
                        </small>

                        <small>
                            <a class="icon-link float-end" id="lnkDownloadTemplate" href="#">Download Excel Template and References</a>
                        </small>

                    </div>


                    @*VERSION*@
                    <div class="row p-2 mt-2 shadow-sm">

                        <div class="col-8">
                            <h5>
                                <strong>
                                    Guidelines on format
                                </strong>
                            </h5>

                        </div>

                        <div class="col-4">
                            <h5>
                                <strong class="float-end">
                                    Version v4.0
                                </strong>
                            </h5>
                        </div>


                    </div>

                    @*INSTRUCTION DETAILS*@
                    <div class="row shadow-sm p-2 mt-1">
                        <table id="listtable" class="table table-bordered table-condensed table-striped shadow-sm">
                            <thead>
                                <tr>
                                    <th style="background-color:dimgrey; color:azure; width:10%;">NO.</th>
                                    <th style="background-color: dimgrey; color: azure; width: 30%; ">COLUMN</th>
                                    <th style="background-color: dimgrey; color: azure; width: 100%; ">FORMAT</th>
                                </tr>
                            </thead>
                            <tbody>

                                @* 1 *@
                                <tr>
                                    <th scope="row">1</th>
                                    <th scope="row">Category</th>
                                    <td>Must be in "Category (Priority Group)" List in CHOICES tab</td>
                                </tr>

                                @* 2 *@
                                <tr>
                                    <th scope="row">2</th>
                                    <th scope="row">Comorbidity</th>
                                    <td>Free Text</td>
                                </tr>

                                @* 3 *@
                                <tr>
                                    <th scope="row">3</th>
                                    <th scope="row">Unique Person ID</th>
                                    <td>Primary = unique vaccine card # of LGU, Secondary = Government ID, if not applicable put "NONE"</td>
                                </tr>

                                @* 4 *@
                                <tr>
                                    <th scope="row">4</th>
                                    <th scope="row">PWD</th>
                                    <td>Y or N</td>
                                </tr>

                                @* 5 *@
                                <tr>
                                    <th scope="row">5</th>
                                    <th scope="row">Indigenous Member</th>
                                    <td>Must be in "Indigenous Member" List in CHOICES tab</td>
                                </tr>

                                @* 6 *@
                                <tr>
                                    <th scope="row">6</th>
                                    <th scope="row">Last Name</th>
                                    <td>Alphanumeric except special characters < > " / \ | ? </td>
                                </tr>

                                @* 7 *@
                                <tr>
                                    <th scope="row">7</th>
                                    <th scope="row">First Name</th>
                                    <td>Alphanumeric except special characters < > " / \ | ? </td>
                                </tr>

                                @* 8 *@
                                <tr>
                                    <th scope="row">8</th>
                                    <th scope="row">Middle Name</th>
                                    <td>Alphanumeric except special characters < > " / \ | ?  Put "None" if no Middle Name; Middle Initials are rejected</td>
                                </tr>

                                @* 9 *@
                                <tr>
                                    <th scope="row">9</th>
                                    <th scope="row">Suffix</th>
                                    <td>Alphanumeric except special characters < > " / \ | ? </td>
                                </tr>

                                @* 10 *@
                                <tr>
                                    <th scope="row">10</th>
                                    <th scope="row">Contact Number</th>
                                    <td>7, 8, 10 or 11 digits</td>
                                </tr>

                                @* 11 *@
                                <tr>
                                    <th scope="row">11</th>
                                    <th scope="row">Guardian Name</th>
                                    <td>Last Name, First Name of Guardian</td>
                                </tr>

                                @* 12 *@
                                <tr>
                                    <th scope="row">12</th>
                                    <th scope="row">Current Residence - Region</th>
                                    <td>Must be in "Region" List in the CHOICES tab</td>
                                </tr>

                                @* 13 *@
                                <tr>
                                    <th scope="row">13</th>
                                    <th scope="row">Current Residence - Province</th>
                                    <td>Must be in "Province" List in the PROVINCE_CODE tab and use PROVINCE column</td>
                                </tr>

                                @* 14 *@
                                <tr>
                                    <th scope="row">14</th>
                                    <th scope="row">Current Residence - Municipality/City</th>
                                    <td>Must be in "MuniCity" List in the MUNICITY_CODE and use the MUNICITY column</td>
                                </tr>

                                @* 15 *@
                                <tr>
                                    <th scope="row">15</th>
                                    <th scope="row">Current Residence - Barangay</th>
                                    <td>Free Text</td>
                                </tr>

                                @* 16 *@
                                <tr>
                                    <th scope="row">16</th>
                                    <th scope="row">Sex</th>
                                    <td>M or F</td>
                                </tr>

                                @* 17 *@
                                <tr>
                                    <th scope="row">17</th>
                                    <th scope="row">Birth Date</th>
                                    <td>MM/DD/YYYY; cannot be later than vaccination date, must be in date format (no ' or other special characters)</td>
                                </tr>

                                @* 18 *@
                                <tr>
                                    <th scope="row">18</th>
                                    <th scope="row">Deferral</th>
                                    <td>Y or N</td>
                                </tr>

                                @* 19 *@
                                <tr>
                                    <th scope="row">19</th>
                                    <th scope="row">Reason for Deferral/Refusal</th>
                                    <td>Cannot be BLANK if Deferral is Y; Must be in "Reason for Deferral" List in CHOICES tab; If many, separate with semicolon (;)</td>
                                </tr>

                                @* 20 *@
                                <tr>
                                    <th scope="row">20</th>
                                    <th scope="row">Vaccination Date</th>
                                    <td>MM/DD/YYYY; cannot be earlier than March 1, 2021, cannot be later than current date, must be in date format ( no ' or other special characters)</td>
                                </tr>

                                @* 21 *@
                                <tr>
                                    <th scope="row">21</th>
                                    <th scope="row">Vaccine Manufacturer Name</th>
                                    <td>Must be in "Vaccine Manufacturer Name" List in CHOICES tab, Indicate "None" if not applicable</td>
                                </tr>

                                @* 22 *@
                                <tr>
                                    <th scope="row">22</th>
                                    <th scope="row">Batch Number</th>
                                    <td>Must have value, Indicate "None" if not applicable</td>
                                </tr>

                                @* 23 *@
                                <tr>
                                    <th scope="row">23</th>
                                    <th scope="row">Lot Number</th>
                                    <td>Must have value, Indicate "None" if not applicable</td>
                                </tr>

                                @* 24 *@
                                <tr>
                                    <th scope="row">24</th>
                                    <th scope="row">Bakuna Center CBCR ID</th>
                                    <td>CBCXXXXX or CBCXXXXXXXXXXXXXXX</td>
                                </tr>

                                @* 25 *@
                                <tr>
                                    <th scope="row">25</th>
                                    <th scope="row">Vaccinator Name</th>
                                    <td>'Last Name, First Name of Vaccinator; Registrar or Screener name can be indicated instead if vaccinee has deferred during Registration or Screening</td>
                                </tr>

                                @* 26 *@
                                <tr>
                                    <th scope="row">26</th>
                                    <th scope="row">1st Dose</th>
                                    <td>Y if 1st dose, N if 2nd dose, N if Additional/Booster Dose</td>
                                </tr>

                                @* 27 *@
                                <tr>
                                    <th scope="row">27</th>
                                    <th scope="row">2nd Dose</th>
                                    <td>N if 1st dose, Y if 2nd dose, N if Additional/Booster Dose;  If Vaccinator Manufacturer Name is J&J, can only be tagged as Y in 2nd Dose</td>
                                </tr>

                                @* 28 *@
                                <tr>
                                    <th scope="row">28</th>
                                    <th scope="row">Additional/Booster Dose</th>
                                    <td>N if 1st dose, N if 2nd dose, Y if Additional/Booster Dose</td>
                                </tr>

                                @* 29 *@
                                <tr>
                                    <th scope="row">29</th>
                                    <th scope="row">2nd Additional/Booster Dose</th>
                                    <td>N if 1st dose, N if 2nd dose, N if Additional/Booster Dose, Y if 2nd Additional/Booster Dose</td>
                                </tr>

                                @* 30 *@
                                <tr>
                                    <th scope="row">30</th>
                                    <th scope="row">Adverse Event</th>
                                    <td>Y or N</td>
                                </tr>

                                @* 31 *@
                                <tr>
                                    <th scope="row">31</th>
                                    <th scope="row">Adverse Event Condition</th>
                                    <td>Cannot be BLANK if Adverse Event is Y; Must be in "Adverse Event Condition" List in CHOICES tab; If many, separate with semicolon (;)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    @*PROCEED BUTTON*@
                    <div class="row shadow mt-3  rounded">
                        <a class="btn btn-primary float-end" href="@Url.Action("Index", "Uploader")">Proceed</a>
                    </div>




                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts{

    <script>
        // DOWNLOAD EXCEL TEMPLATE
        $(document).ready(function () {
            $("#lnkDownloadTemplate").click(function () {
                window.location.href = "/Uploader/DownloadExcelTemplate";
            })
        })

    </script>

}

